* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.head {
    width: 75px;
    height: 75px;
    background-color: blue;
    margin-bottom: 20px;
    transform:perspective(100px) rotateX(45deg) rotate(30deg);
    position: relative;
    left: 150px;
    top: 20px;
}
/* // head */

.upper-body {
    display: flex;
    transform: rotate(45deg);
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 40px;
}
.chest {
    width: 120px;
    height: 95px;
    background-color: blueviolet;
    transform: perspective(130px) rotateX(-40deg);
    z-index: 0;
}
.stomach {
    width: 60px;
    height: 75px;
    background-color: brown;
    transform: rotate(10deg);
    position: relative;
    bottom: 15px;
    z-index: -1;
}
/* // middle body */
.bicep {
    width: 55px;
    height: 85px;
    background-color: burlywood;
}
.forearm {
    width: 30px;
    height: 100px;
    background-color: cadetblue;
}
.hand {
    width: 40px;
    height: 60px;
    background-color: chartreuse;
    margin-top: 10px;
    transform: perspective(100px) rotateX(-30deg);
}

.left-arm {
    transform-origin: top right;
    transform: rotate(88deg);
    position: relative;
    left: 10px;
    z-index: 1;
}
.left-limb {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top right;
    transform: rotate(-47deg);
    position: relative;
    bottom: 20px;
    right: 10px;
}

/* // left-arm */

.right-arm {
    transform-origin: top left;
    transform: rotate(-95deg);
    position: relative;
    right: 10px;
    z-index: -1;
}
.right-bicep {
    background-color: rgb(202, 167, 122);
}
.right-limb {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top right;
    transform: rotate(-110deg);
    position: relative;
    bottom: 20px;
    right: 30px;
}
.right-forearm {
    width: 25px;
    height: 90px;
    background-color: rgb(80, 136, 138);
}
.right-hand {
    width: 32px;
    height: 52px;
    background-color: chartreuse;
    margin-top: 5px;
    transform: perspective(100px) rotateX(-30deg) rotate(-10deg);
    position: relative;
    left: 10px;
}
/* // right-arm, arms, upper-body */

.lower-body {
    display: flex;
    transform: rotate(45deg);
    position: relative;
    right: 120px;
    bottom: 130px;
}
.thigh {
    width: 65px;
    height: 145px;
    background-color: chocolate;
}
.calf {
    width: 35px;
    height: 125px;
    background-color: rgb(230, 113, 71);
}
.foot {
    width: 80px;
    height: 35px;
    background-color: cornflowerblue;
}

.left-leg {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top left;
    transform: rotate(5deg);
    position: relative;
    top: 31px;
    right: 10px;
}
.left-thigh {
    height: 130px;
    position: relative;
    z-index: 1;
    background-color: rgb(170, 83, 21);
}
.left-knee {
    transform: rotate(6deg);
}
.left-foot {
    transform: perspective(50px) rotateY(40deg) rotate(40deg);
    background-color: rgb(91, 134, 214);
}
/* // left-leg */

.right-leg {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top left;
    transform: rotate(-90deg);
    position: relative;
    top: 25px;
    right: 100px;
}
.right-thigh {
    width: 75px;
    height: 200px;
}
.right-knee {
    transform-origin: top left;
    transform: rotate(135deg);
    position: relative;
    bottom: 10px;
    left: 30px;
    z-index: -1;
}
.right-calf {
    width: 40px;
    height: 150px;
    z-index: -1;
    background-color: coral;
}
.right-foot {
    transform: perspective(50px) rotateY(30deg) rotate(-20deg);
    position: relative;
    left: 10px;
    /* bottom: 10px; */
}
/* // right-lef, lower-body */
